html{
  box-sizing: border-box;
}

*, *::before,  *::after{
  box-sizing:inherit;
}

.masthead{
  padding-top:0.5em;
  background-image:url("../images/beetle.svg"), url("../images/beetle-left.svg")
  ;
  background-size: 865px auto,865px auto;
  background-repeat: no-repeat,no-repeat;
  background-position:left, right;
  text-align:center;
  border: #

}

 img{
  width:100%;
  display:block;
}

.box{
  background-color: #FFDEEF;
  padding: 0.5em;
  text-align:right;
}

.box2{
  background-color: #FFDEEF;
  padding: 0.5em;
  text-align:right;
}
.box3{
  background-color: #FFDEEF;
  padding: 0.5em;
  text-align:right;
}
.box4{
  background-color: #FFDEEF;
  padding: 0.5em;
  text-align:right;
}

.btn{
  display:inline-block;
  padding:1.2em 2.0em;
  text-decoration:none;
  color:#fff;
  background-color:#4f9c00;
  border-radius: 10px;
  background-image:linear-gradient(to bottom, #4f9c00, #2e6a00);
}
